/* PAGE */
.sales-page {
  text-align: center;
}

/* BANNER */
.sales-page .banner {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 83% 100%, 0px 91%);
}

.sales-page .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 7s ease;
}
.sales-page .banner::before {
  background: rgba(0, 0, 0, 0.45);
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}
/* TEXT */
.sales-page h1 {
  margin-top: 45px;
  font-weight: 500;
}

.sales-page p {
  max-width: 1100px;
  margin: 16px auto;
  font-weight: 400;
  text-align: center;
  /* margin: auto; */
  color: var(--black);
}
.sales-page .contact p {
  margin: 0px;
}
/* FORM SECTION WRAPPER */
.sales-page .form-section {
  max-width: 850px;
  margin: 40px auto;
  background: var(--white);
  padding: 30px;
  border-radius: 0px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* TABS (LIKE IMAGE) */
.sales-page .tabs {
  display: flex;
  overflow: hidden;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 0px;
  border: 1px solid var(--gray-light);
}

.sales-page .tabs button {
  flex: 1;
  min-width: 150px;
  height: 50px;
  border: none;
  background: var(--gray-medium);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s ease;
  cursor: pointer;
  letter-spacing: 1px;
}

.sales-page .tabs .active {
  background: var(--primary-red);
  color: var(--white);
}

/* FORM CARD (IMPORTANT PART LIKE IMAGE) */
.sales-page .form-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}

.sales-page .form-card input,
.sales-page .form-card textarea {
  height: 45px;
  border-radius: 0;
  background-color: var(--gray-light);
  border: none;
  font-size: 18px;
  padding: 10px 10px;
  box-shadow: none;
}
.sales-page .form-card textarea {
  height: auto;
  resize: none;
  padding-top: 14px;
}
/* BUTTON */
.sales-page .btn-primary {
  background: var(--primary-red);
  color: var(--white);
  border: none;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0;
  transition: 0.3s;
}

.sales-page .btn-primary:hover {
  background: var(--primary-red);
}
.sales-page .contact .inline-contact-data {
  display: flex;
  justify-content: space-between;
}

/* CONTACT BOX */
.sales-page .contact {
  margin-top: 15px;
  font-size: 13px;
  color: var(--black);
  background: var(--gray-light);
  padding: 10px;
  border-radius: 0px;
}
.form-card .row {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.form-card .row input {
  flex: 1;
}
.sales-page .form-section h2 {
  font-weight: 500;
  color: var(--primary-red);
}
.inline-contact-data i.bi {
  color: var(--primary-red);
  font-size: 20px;
}
.sales-page .contact h6 {
  color: var(--primary-red);
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .sales-page .form-section {
    /* padding: 20px; */
  }
  .form-card .row {
    flex-direction: column;
  }

  .sales-page .banner {
    height: 40vh;
  }
  .sales-page .banner h1 {
    font-size: 35px;
  }
  .sales-page .contact .inline-contact-data {
    flex-direction: column;
  }
  .sales-page .contact .inline-contact-data p {
    display: flex;
    justify-content: start;
  }
  .sales-page .contact .inline-contact-data p i,
  .sales-page .contact .inline-contact-data p img {
    margin-right: 10px;
  }
  .sales-page .tabs {
    flex-direction: column;
    gap: 20px;
    border: 0px;
  }
  .sales-page .tabs button {
    padding: 10px 10px;
  }
  .sales-page .contact p {
    font-size: 16px;
  }
  .sales-page .form-section h2 {
    font-size: 35px;
  }
  .sales-page section.form-section {
    box-shadow: none;
  }
  .sales-page p {
    padding: 4px 20px;
  }
  .sales-page h1 {
    font-size: 35px;
  }
}
