<section class="sales-page">
  <div class="banner">
    <img src="/assets/images/services/test drive.webp" alt="Honda Banner" />

  </div>
 <div class="test-drive-content">
  <h1>Ride Your Dream Honda two-wheelers Today</h1>

  <p>Looking for the latest Honda two-wheelers in Siliguri? Explore a wide range of Honda scooters and motorcycles with expert guidance, attractive offers, and trusted customer support. Submit your new enquiry today and find the perfect Honda bike that matches your lifestyle and budget.
Get hassle-free Honda two-wheeler financing with flexible down payment options and quick loan approvals. Kaysons Honda partners with leading finance providers to make owning your dream Honda bike or scooter simple, affordable, and convenient.</p>
</div>

  <!-- FORM CARD -->
  <section class="form-section">
    <h2>Get started</h2>
    <p>Choose a tab to send us an enquiry or apply for vehicle financing.
New Enquiry.</p>

    <div class="tabs">
      <button (click)="tab = 'enquiry'" [class.active]="tab === 'enquiry'">New Enquiry</button>
      <button (click)="tab = 'finance'" [class.active]="tab === 'finance'">Financing</button>
    </div>

    @if (tab === 'enquiry') {
      <form [formGroup]="enquiryForm" (ngSubmit)="submitEnquiry()" class="form-card">
        <div class="row">
          <input type="text" formControlName="fullName" placeholder="Full name" />
          <input type="text" formControlName="mobileNumber" placeholder="Phone number" />
        </div>
        <div class="row">
          <input type="email" formControlName="email" placeholder="Email" />
          <input type="text" formControlName="model" placeholder="Model" />
          <textarea formControlName="message" placeholder="Message"></textarea>
        </div>
        <button class="btn-primary">Submit Enquiry</button>

        <p *ngIf="successMessage" class="text-success mt-2">
  {{ successMessage }}
</p>

        <div class="contact">
          <h6>Sales Team</h6>
          <div class="inline-contact-data">
            <p><img src="/assets/images/home-icons/call.svg" alt="" /> 8145601235</p>
            <p>
              <i _ngcontent-ng-c1067127687="" class="bi bi-envelope-fill contact-icon"></i>
              manager.sales@kaysonshonda.com
            </p>
            <p><i class="bi bi-clock-fill"></i> Mon - Sun 9:30 AM to 7:00 PM</p>
          </div>
        </div>
      </form>
    }

    @if (tab === 'finance') {
      <form [formGroup]="financeForm" (ngSubmit)="submitFinance()" class="form-card">
        <div class="row">
          <input type="text" formControlName="fullName" placeholder="Full name" />
          <input type="text" formControlName="mobileNumber" placeholder="Phone number" />
        </div>
        <div class="row">
          <input type="email" formControlName="email" placeholder="Email" />
          <input type="text" formControlName="model" placeholder="Model" />
          <textarea formControlName="message" placeholder="Message"></textarea>
        </div>
        <button class="btn-primary">Get Finance Options</button>

        <p *ngIf="successMessage" class="text-success mt-2">
  {{ successMessage }}
</p>

        <div class="contact">
          <h6>Finance Team</h6>
          <div class="inline-contact-data">
            <p><img src="/assets/images/home-icons/call.svg" alt="" /> 8145601235</p>
            <p>
              <i _ngcontent-ng-c1067127687="" class="bi bi-envelope-fill contact-icon"></i>
              manager.sales@kaysonshonda.com
            </p>
            <p><i class="bi bi-clock-fill"></i> Mon - Sun 9:30 AM to 7:00 PM</p>
          </div>
        </div>
      </form>
    }
  </section>
</section>
