<div class="vehicle-series">
  <!-- ================= BANNER ================= -->
  <div class="banner">
    <img [src]="seriesData?.banner" alt="Series Banner" />
  </div>
  <div class="honda-vehicle-series">
    <!-- ================= TITLE ================= -->
    <div class="container">
      <div class="heading">
        <h1>{{ seriesData?.subtitle }}</h1>
        <h3>{{ seriesData?.title }}</h3>
        <p>{{ seriesData?.description }}</p>
      </div>
    </div>

    <div class="honda-vehicle-series container" *ngIf="seriesData?.bikes?.length">
      <swiper-container #swiper init="false" class="shineSwiper" pagination="true" navigation="true">
        <swiper-slide *ngFor="let bike of seriesData.bikes">
          <div class="bike-card">
            <!-- LEFT -->
            <div class="bike-image">
              <div class="image">
                <img [src]="bike.colors[bike.selectedColor]?.image" />
              </div>

              <h5>Available Colours - {{ bike.colors[bike.selectedColor]?.name }}</h5>

              <div class="color-list">
                <span
                  *ngFor="let color of bike.colors; let i = index"
                  class="color-circle"
                  [style.background]="color.code"
                  [class.active]="bike.selectedColor === i"
                  (click)="changeColor(bike, i)"
                ></span>
              </div>

              <div class="btn-group">
                <button class="enquire-btn" (click)="openWhatsapp()">Enquire Now</button>
                <button class="brochure-btn" (click)="downloadBrochure(bike)">
                  Download Brochure
                </button>
              </div>
            </div>

            <!-- RIGHT -->
            <div class="bike-info">
              <div class="top-row">
                <div>
                  <h2>{{ bike.name }}</h2>
                  <h4>{{ bike.subtitle }}</h4>
                </div>
                <h3 class="price">{{ bike.price }}</h3>
              </div>
              <div class="spec-row">
                <div>
                  <h5>YEAR</h5>
                  <p>{{ bike.year }}</p>
                </div>

                <div>
                  <h5>TYPE</h5>
                  <p>{{ bike.type }}</p>
                </div>

                <div>
                  <h5>BATTERY</h5>
                  <p>{{ bike.make }}</p>
                </div>
              </div>

              <hr />
              <div class="spec-grid">
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />
                  <div>
                    <h5>ENGINE</h5>
                    <p>{{ bike.engine }}</p>
                  </div>
                </div>
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />
                  <div>
                    <h5>MAX POWER</h5>

                    <p>{{ bike.power }}</p>
                  </div>
                </div>
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />
                  <div>
                    <h5>Kerb Weight</h5>
                    <p>{{ bike.displacement }}</p>
                  </div>
                </div>
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />
                  <div>
                    <h5>Fuel Tank</h5>
                    <p>{{ bike.fuel }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <!-- ================= ENQUIRY ================= -->
    <div class="enquiry-section" id="get-in-touch-form">
      <div class="container content-wrapper">
        <div class="left-content">
          <h4>Get In Touch</h4>
          <h2>Enquire about {{ seriesData?.title }}</h2>
          <p>Get best price, EMI and test ride details from nearest dealer.</p>
        </div>

        <div class="form-container">
          <form [formGroup]="enquiryForm" (ngSubmit)="submitForm()">
            <input
              type="text"
              name="fullName"
              placeholder="Full Name"
              formControlName="fullName"
            />
            <small class="error"> Full Name is required </small>
            <input
              type="tel"
              name="mobileNumber"
              placeholder="Mobile Number"
              formControlName="mobileNumber"
            />
            <small class="error"> Mobile Number is required </small>
            <input
              type="email"
              name="email"
              placeholder="Email"
              formControlName="email"
            />
            <small class="error"> Email is required </small>
            <!-- <input type="text" name="model" placeholder="Model" [(ngModel)]="enquiry.model" /> -->
            <select name="model" formControlName="model">
              <option value="">Select Model</option>

              <option *ngFor="let model of seriesData?.models" [value]="model">
                {{ model }}
              </option>
            </select>
            <small class="error"> Model is required </small>

            <textarea rows="3" name="message" placeholder="Message" formControlName="message">
            </textarea>

            <button type="submit">Submit Enquiry</button>
          </form>
        </div>
      </div>
    </div>

    <!-- ================= FEATURES ================= -->
    <section class="bike-slider-section">
      <div class="slider-bg"></div>

      <div class="slider-wrapper">
        <swiper-container
          slides-per-view="2"
          class="bike-swiper"
          centered-slides="true"
          loop="true"
          navigation="true"
          autoplay-delay="1500"
          autoplay-disable-on-interaction="false"
          speed="1000"
          space-between="30"
        >
          <swiper-slide *ngFor="let feature of seriesData?.features">
            <div class="slide-card">
              <img [src]="feature.image" />

              <div class="overlay"></div>

              <div class="slide-content">
                <h3>{{ feature.name }}</h3>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </section>

    <!-- ================= FAQ ================= -->
    <div class="faq-section">
      <div class="container">
        <div class="faq-heading">
          <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq-card" *ngFor="let faq of seriesData?.faqs; let i = index">
          <div class="faq-question" (click)="toggleFaq(i)">
            <h4>{{ faq.question }}</h4>
            <span>{{ activeIndex === i ? '−' : '+' }}</span>
          </div>

          <div class="faq-answer" [class.show]="activeIndex === i">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
