<div class="vehicle-series">
  <!-- ================= BANNER ================= -->
  <div class="banner">
    <img [src]="seriesData?.banner" alt="Series Banner" />
  </div>
  <div class="honda-vehicle-series">
    <!-- ================= TITLE ================= -->
    <div class="container">
      <div class="heading">
        <h1>{{ seriesData?.subtitle }}</h1>
        <h3>{{ seriesData?.title }}</h3>
        <p>{{ seriesData?.description }}</p>
      </div>
    </div>

    <div class="honda-vehicle-series container" *ngIf="seriesData?.bikes?.length">
      <swiper-container
        #swiper
        init="false"
        class="shineSwiper"
        pagination="true"
        navigation="true"
      >
        <swiper-slide *ngFor="let bike of seriesData.bikes">
          <div class="bike-card" id="bikes">
            <!-- LEFT -->
            <div class="bike-image">
              <div class="image">
                <img [src]="bike.colors[bike.selectedColor]?.image" />
              </div>

              <h5>Available Colours - {{ bike.colors[bike.selectedColor]?.name }}</h5>

              <div class="color-list">
                <span
                  *ngFor="let color of bike.colors; let i = index"
                  class="color-circle"
                  [style.background]="color.code"
                  [class.active]="bike.selectedColor === i"
                  (click)="changeColor(bike, i)"
                ></span>
              </div>

              <div class="btn-group">
                <button class="enquire-btn" (click)="openWhatsapp()">Enquire Now</button>
                <button class="brochure-btn" (click)="downloadBrochure(bike)">
                  Download Brochure
                </button>
              </div>
            </div>

            <!-- RIGHT -->
            <div class="bike-info">
              <div class="top-row">
                <div>
                  <h2>{{ bike.name }}</h2>
                  <h4>{{ bike.subtitle }}</h4>
                </div>
                <h3 class="price">{{ bike.price }}</h3>
              </div>
              <div class="spec-row">
                <div>
                  <h5>YEAR</h5>
                  <p>{{ bike.year }}</p>
                </div>

                <div>
                  <h5>TYPE</h5>
                  <p>{{ bike.type }}</p>
                </div>

                <div>
                  <h5>BATTERY</h5>
                  <p>{{ bike.make }}</p>
                </div>
              </div>

              <hr />
              <div class="spec-grid">
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />
                  <div>
                    <h5>ENGINE</h5>
                    <p>{{ bike.engine }}</p>
                  </div>
                </div>
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />
                  <div>
                    <h5>MAX POWER</h5>

                    <p>{{ bike.power }}</p>
                  </div>
                </div>
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />
                  <div>
                    <h5>Kerb Weight</h5>
                    <p>{{ bike.displacement }}</p>
                  </div>
                </div>
                <div class="bottom-item">
                  <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />
                  <div>
                    <h5>Fuel Tank</h5>
                    <p>{{ bike.fuel }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <!-- ================= ENQUIRY ================= -->
    <div class="enquiry-section" id="get-in-touch-form">
      <div class="container content-wrapper">
        <div class="left-content">
          <h4>Get In Touch</h4>
          <h2>Enquire about {{ seriesData?.title }}</h2>
          <p>Get best price, EMI and test ride details from nearest dealer.</p>
        </div>

        <div class="form-container">
          <form [formGroup]="enquiryForm" (ngSubmit)="submitForm()">
            <!-- Full Name -->
            <input type="text" placeholder="Full Name" formControlName="fullName" />

            <small
              class="error"
              *ngIf="
                enquiryForm.get('fullName')?.touched &&
                enquiryForm.get('fullName')?.errors?.['required']
              "
            >
              Full Name is required
            </small>

            <!-- Mobile -->
            <input type="tel" placeholder="Mobile Number" formControlName="mobileNumber" />

            <small
              class="error"
              *ngIf="
                enquiryForm.get('mobileNumber')?.touched &&
                enquiryForm.get('mobileNumber')?.errors?.['required']
              "
            >
              Mobile Number is required
            </small>

            <small
              class="error"
              *ngIf="
                enquiryForm.get('mobileNumber')?.touched &&
                enquiryForm.get('mobileNumber')?.errors?.['pattern']
              "
            >
              Please enter a valid 10-digit mobile number
            </small>

            <!-- Email -->
            <input type="email" placeholder="Email" formControlName="email" />

            <small
              class="error"
              *ngIf="
                enquiryForm.get('email')?.touched && enquiryForm.get('email')?.errors?.['required']
              "
            >
              Email is required
            </small>

            <small
              class="error"
              *ngIf="
                enquiryForm.get('email')?.touched && enquiryForm.get('email')?.errors?.['email']
              "
            >
              Please enter a valid email address
            </small>

            <!-- Model -->
            <select formControlName="model">
              <option value="">Select Model</option>

              <option *ngFor="let model of seriesData?.models" [value]="model">
                {{ model }}
              </option>
            </select>

            <small
              class="error"
              *ngIf="
                enquiryForm.get('model')?.touched && enquiryForm.get('model')?.errors?.['required']
              "
            >
              Model is required
            </small>

            <!-- Message -->
            <textarea rows="3" placeholder="Message" formControlName="message"></textarea>

            <!-- Submit -->
            <button
              type="submit"
              class="d-inline-flex align-items-center justify-content-center"
              [disabled]="isLoading"
            >
              @if (isLoading) {
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                >
                </span>
              } @else {
                <i class="fa-solid fa-paper-plane me-2"></i>
              }

              Submit Enquiry
            </button>

            <p class="text-success mt-2" *ngIf="successMessage">
              {{ successMessage }}
            </p>
          </form>
        </div>
      </div>
    </div>

    <!-- ================= FEATURES ================= -->
    <section class="bike-slider-section">
      <div class="slider-bg"></div>

      <div class="slider-wrapper">
        <swiper-container
          slides-per-view="2"
          class="bike-swiper"
          centered-slides="true"
          loop="true"
          navigation="true"
          autoplay-delay="1500"
          autoplay-disable-on-interaction="false"
          speed="1000"
          space-between="30"
        >
          <swiper-slide *ngFor="let feature of seriesData?.features">
            <div class="slide-card">
              <img [src]="feature.image" />

              <div class="overlay"></div>

              <div class="slide-content">
                <h3>{{ feature.name }}</h3>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </section>

    <!-- ================= FAQ ================= -->
    <div class="faq-section">
      <div class="container">
        <div class="faq-heading">
          <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq-card" *ngFor="let faq of seriesData?.faqs; let i = index">
          <div class="faq-question" (click)="toggleFaq(i)">
            <h4>{{ faq.question }}</h4>
            <span>{{ activeIndex === i ? '−' : '+' }}</span>
          </div>

          <div class="faq-answer" [class.show]="activeIndex === i">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
