<div class="home-page">
  <swiper-container
    slides-per-view="1"
    loop="true"
    speed="1200"
    autoplay-delay="3500"
    autoplay-disable-on-interaction="false"
    navigation="true"
    pagination="false"
    effect="fade"
    class="swiper-s"
  >
    <!-- Slide 1 -->
    <swiper-slide>
      <div class="slide-content">
        <img src="assets/images/wd33.jpg" class="slider-img" />

        <div class="overlay"></div>

        <div class="caption">
          <span class="sub-title"> TAKING RIDES TO A NEWER LEVEL </span>

          <h3>A Legacy Built on Trust, Growth & Automotive Excellence</h3>

          <p>
            KAYSONS Group began as a small transportation venture in Siliguri and has grown into a
            trusted name in the automobile industry.
          </p>

          <div class="slider-buttons">
            <a href="#" class="btn-learn"> LEARN MORE </a>
          </div>
        </div>
      </div>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <div class="slide-content">
        <img src="assets/images/Untitled-2.jpg" class="slider-img" />

        <div class="overlay"></div>

        <div class="caption">
          <span class="sub-title"> TAKING RIDES TO A NEWER LEVEL </span>

          <h1>A Legacy Built on Trust, Growth & Automotive Excellence</h1>

          <p>
            KAYSONS Group began as a small transportation venture in Siliguri and has grown into a
            trusted name in the automobile industry.
          </p>

          <div class="slider-buttons">
            <a href="#" class="btn-learn"> LEARN MORE </a>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <section class="about-section">
    <div class="container">
      <div class="row align-items-center gy-5">
        <!-- Left Images -->
        <div class="col-lg-4">
          <div class="left-image">
            <img
              src="assets/images/mmnww.jpg"
              alt="Honda Scooter"
              loading="lazy"
              class="main-img"
            />
          </div>
        </div>

        <!-- Right Content -->
        <div class="col-lg-8">
          <div class="about-content">
            <span class="sub-title"> Your Trusted Honda Two Wheeler Dealer Since Day One </span>

            <h2>Serving Customers With Pride Always</h2>

            <p class="about-text">
              Welcome to Kaysons Honda — Siliguri's trusted destination for everything Honda. As one
              of the best Honda showrooms in Siliguri, we bring you the complete range of Honda’s
              latest bikes and scooters under one roof. Whether you're looking for a Honda bike
              showroom or a Honda scooter showroom in Siliguri, Kaysons Honda delivers an experience
              built on trust, transparency, and genuine passion for riding. From Honda bike exchange
              offers to dedicated Honda service centers in Siliguri, we're committed to being with
              you at every stage of your journey — from the first test ride to lifelong Honda
              customer service in Siliguri.
            </p>

            <!-- Features -->

            <div class="row feature-row">
              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Trusted Legacy.svg" alt="" />
                  </div>

                  <div>
                    <h4>Trusted Legacy</h4>

                    <p>Built on decades of trust, reliability, and automotive excellence.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Strong Business Network.svg" alt="" />
                  </div>

                  <div>
                    <h4>Leading Automobile Brands</h4>

                    <p>
                      Authorized dealer representing India's most loved two-wheeler brand today.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Leading Automobile Brands.svg" alt="" />
                  </div>

                  <div>
                    <h4>Strong Business Network</h4>

                    <p>A powerful network of showrooms, service centers, and partners.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Future-Focused Growth.svg" alt="" />
                  </div>

                  <div>
                    <h4>Future-Focused Growth</h4>

                    <p>
                      Driving tomorrow's mobility with innovation, sustainability, and bold vision.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bottom Images -->

            <div class="bottom-images">
              <img src="assets/images/Untitled-1 copy.jpg" loading="lazy" alt="Honda Bikes" />

              <img
                src="	assets/images/Design_555_555-Wide-Petrol-Tank-style-home.jpg"
                alt="Honda Tank"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="counter-section">
    <div class="overlay"></div>

    <div class="container">
      <div class="row justify-content-center g-4">
        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ formatK(happyCustomers) }}</h2>

            <p>Happy Customers</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ yearsTrust }}+</h2>

            <p>Years of Trust</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ hondaVehicles }}+</h2>

            <p>Honda Vehicles</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ expertStaff }}+</h2>

            <p>Expert Staff</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ commitment }}%</h2>

            <p>Customer Commitment</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- vehicle-tabs.component.html -->

  <!-- vehicle-section.component.html -->

  <section class="vehicle-section">
    <div class="container">
      <!-- Heading -->
      <h2 class="title">Browse Our Honda Two-Wheeler Range </h2>

      <!-- Tabs -->
      <div class="button-vehicle">
        <button
          class="tab-btn"
          [class.active]="activeTab === 'motorcycle'"
          (click)="setTab('motorcycle')"
        >
          MOTORCYCLE
        </button>

        <button
          class="tab-btn"
          [class.active]="activeTab === 'scooter'"
          (click)="setTab('scooter')"
        >
          SCOOTER
        </button>
      </div>
      <div class="tabs">
        <p>
          Explore the complete range of Honda bikes and scooters at Kaysons Honda, Siliguri. From daily
commuters to premium models, find the perfect Honda two-wheeler built for every road and every
rider.
        </p>
      </div>

      <!-- ======================================
         MOTORCYCLE SECTION
    ======================================= -->

      <div *ngIf="activeTab === 'motorcycle'" class="card-container">
        <!-- Card 1 -->
        <div class="bike-card">
          <div class="card-top">
            <div>
              <h3>Honda NX200</h3>
              <span>Powered by Honda</span>
            </div>

            <div class="price">₹1,68,000*</div>
          </div>

          <div class="image-box">
            <img src="/assets/images/kaysons bike/NX200.png" loading="lazy" alt="Honda NX200" />
          </div>

          <div class="spec-row">
            <div class="spec-box">
              <h5>YEAR</h5>
              <p>2025</p>
            </div>

            <div class="spec-box">
              <h5>TYPE</h5>
              <p>Adventure</p>
            </div>

            <div class="spec-box">
              <h5>MAKE</h5>
              <p>Honda</p>
            </div>
          </div>

          <div class="bottom-specs">
            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

              <div>
                <h6>ENGINE TYPE</h6>
                <p>184.4 cc</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

              <div>
                <h6>ENGINE POWER</h6>
                <p>16.9 PS</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

              <div>
                <h6>Mileage</h6>
                <p>40-45 km/l</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

              <div>
                <h6>FUEL SYSTEM</h6>
                <p>PGM-FI</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="bike-card">
          <div class="card-top">
            <div>
              <h3>Honda Hornet 2.0</h3>
              <span>Powered by Honda</span>
            </div>

            <div class="price">₹1,40,000*</div>
          </div>

          <div class="image-box">
            <img
              src="/assets/images/kaysons bike/Hornet 2.0.png"
              loading="lazy"
              alt="Honda Hornet 2.0"
            />
          </div>

          <div class="spec-row">
            <div class="spec-box">
              <h5>YEAR</h5>
              <p>2025</p>
            </div>

            <div class="spec-box">
              <h5>TYPE</h5>
              <p>Sports Bike</p>
            </div>

            <div class="spec-box">
              <h5>MAKE</h5>
              <p>Honda</p>
            </div>
          </div>

          <div class="bottom-specs">
            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

              <div>
                <h6>ENGINE TYPE</h6>
                <p>184.4 cc</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

              <div>
                <h6>ENGINE POWER</h6>
                <p>17.2 PS</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

              <div>
                <h6>Mileage</h6>
                <p>42-45 km/l</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

              <div>
                <h6>FUEL SYSTEM</h6>
                <p>PGM-FI</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="bike-card">
          <div class="card-top">
            <div>
              <h3>Honda Shine100</h3>
              <span>Powered by Honda</span>
            </div>

            <div class="price">₹68,000*</div>
          </div>

          <div class="image-box">
            <img
              src="/assets/images/kaysons bike/Shine100.png"
              loading="lazy"
              alt="Honda Shine100"
            />
          </div>

          <div class="spec-row">
            <div class="spec-box">
              <h5>YEAR</h5>
              <p>2025</p>
            </div>

            <div class="spec-box">
              <h5>TYPE</h5>
              <p>Bike</p>
            </div>

            <div class="spec-box">
              <h5>MAKE</h5>
              <p>Honda</p>
            </div>
          </div>

          <div class="bottom-specs">
            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

              <div>
                <h6>ENGINE TYPE</h6>
                <p>98.98 cc</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

              <div>
                <h6>ENGINE POWER</h6>
                <p>7.3 PS</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

              <div>
                <h6>Mileage</h6>
                <p>60-65 km/l</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

              <div>
                <h6>FUEL SYSTEM</h6>
                <p>PGM-FI</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ======================================
         SCOOTER SECTION
    ======================================= -->

      <div *ngIf="activeTab === 'scooter'" class="card-container">
        <!-- Scooter 1 -->
        <div class="bike-card">
          <div class="card-top">
            <div>
              <h3>Honda Activa 110</h3>
              <span>Powered by Honda</span>
            </div>

            <div class="price">₹80,000*</div>
          </div>

          <div class="image-box">
            <img
              src="/assets/images/kaysons Scooters/Activa 110.png"
              loading="lazy"
              alt="Honda Activa 110"
            />
          </div>

          <div class="spec-row">
            <div class="spec-box">
              <h5>YEAR</h5>
              <p>2025</p>
            </div>

            <div class="spec-box">
              <h5>TYPE</h5>
              <p>Scooter</p>
            </div>

            <div class="spec-box">
              <h5>MAKE</h5>
              <p>Honda</p>
            </div>
          </div>

          <div class="bottom-specs">
            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

              <div>
                <h6>ENGINE TYPE</h6>
                <p>109.51 cc</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

              <div>
                <h6>ENGINE POWER</h6>
                <p>7.8 PS</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

              <div>
                <h6>Mileage</h6>
                <p>50-55 km/l</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

              <div>
                <h6>FUEL SYSTEM</h6>
                <p>PGM-FI</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Scooter 2 -->
        <div class="bike-card">
          <div class="card-top">
            <div>
              <h3>Honda Activa 125</h3>
              <span>Powered by Honda</span>
            </div>

            <div class="price">₹94,000*</div>
          </div>

          <div class="image-box">
            <img
              src="/assets/images/kaysons Scooters/Activa 125.png"
              loading="lazy"
              alt="Honda Activa 125"
            />
          </div>

          <div class="spec-row">
            <div class="spec-box">
              <h5>YEAR</h5>
              <p>2025</p>
            </div>

            <div class="spec-box">
              <h5>TYPE</h5>
              <p>Scooter</p>
            </div>

            <div class="spec-box">
              <h5>MAKE</h5>
              <p>Honda</p>
            </div>
          </div>

          <div class="bottom-specs">
            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

              <div>
                <h6>ENGINE TYPE</h6>
                <p>123.92 cc</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

              <div>
                <h6>ENGINE POWER</h6>
                <p>8.3 PS</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

              <div>
                <h6>Mileage</h6>
                <p>45-50 km/l</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

              <div>
                <h6>FUEL SYSTEM</h6>
                <p>PGM-FI</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Scooter 3 -->
        <div class="bike-card">
          <div class="card-top">
            <div>
              <h3>Honda Dio 110</h3>
              <span>Powered by Honda</span>
            </div>

            <div class="price">₹78,000*</div>
          </div>

          <div class="image-box">
            <img
              src="/assets/images/kaysons Scooters/Dio X Edition.png"
              loading="lazy"
              alt="Honda Dio 110"
            />
          </div>

          <div class="spec-row">
            <div class="spec-box">
              <h5>YEAR</h5>
              <p>2025</p>
            </div>

            <div class="spec-box">
              <h5>TYPE</h5>
              <p>Sports Scooter</p>
            </div>

            <div class="spec-box">
              <h5>MAKE</h5>
              <p>Honda</p>
            </div>
          </div>

          <div class="bottom-specs">
            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

              <div>
                <h6>ENGINE TYPE</h6>
                <p>109.51 cc</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

              <div>
                <h6>ENGINE POWER</h6>
                <p>7.95 PS</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

              <div>
                <h6>Mileage</h6>
                <p>50 km/l</p>
              </div>
            </div>

            <div class="bottom-item">
              <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

              <div>
                <h6>FUEL SYSTEM</h6>
                <p>PGM-FI</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="view-btn">
        <a href="#"> View All Models </a>
      </div>
    </div>
  </section>

  <!-- test-drive-booking.component.html -->

  <div class="test-drive-section">
    <div class="overlay"></div>

    <div class="container">
      <div class="booking-form">
        <form (ngSubmit)="onSubmit()" #bookingForm="ngForm">
          <div class="row">
            <!-- Full Name -->
            <div class="col-md-6 mb-3">
              <label>FULL NAME</label>

              <input
                type="text"
                class="form-control"
                name="fullName"
                [(ngModel)]="bookingData.fullName"
                placeholder="Your name"
                required
              />
            </div>

            <!-- Phone -->
            <div class="col-md-6 mb-3">
              <label>PHONE NUMBER</label>

              <input
                type="text"
                class="form-control"
                name="phone"
                [(ngModel)]="bookingData.phone"
                placeholder="Mobile number"
                required
              />
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label>EMAIL ADDRESS</label>

            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="bookingData.email"
              placeholder="Email"
              required
            />
          </div>

          <!-- Select Model -->
          <div class="mb-3">
            <label>SELECT MODEL</label>

            <select class="form-select" name="model" [(ngModel)]="bookingData.model" required>
              <option *ngFor="let bike of bikeModels" [value]="bike">
                {{ bike }}
              </option>
            </select>
          </div>

          <!-- Additional Note -->
          <div class="mb-4">
            <label>ADDITIONAL NOTE</label>

            <textarea
              rows="4"
              class="form-control"
              name="note"
              [(ngModel)]="bookingData.note"
              placeholder="Any questions or special requests....."
            ></textarea>
          </div>

          <!-- Button -->
          <button type="submit" class="btn booking-btn w-100">CONFIRM TEST DRIVE BOOKING</button>
        </form>
      </div>
    </div>
  </div>

  <!--  -->

  <div class="service-section container-fluid py-5">
    <div class="container">
      <!-- Heading -->
      <div class="text-center mb-5">
        <h5 class="fw-bold">Genuine Honda After Sales Support</h5>

        <h3 class="main-title">Because Your Honda Deserves the Best</h3>

        <p class="top-desc mx-auto">
          At Kaysons Honda, one of the most trusted Honda service centers in Siliguri, we keep your
          two wheeler performing at its absolute best. Genuine parts, trained technicians, and
          dedicated after sales support, because your Honda deserves nothing less.
        </p>
      </div>

      <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h2 class="section-title">HONDA SERVICE SUPPORT</h2>

          <h3 class="sub-title">Complete Care For Your Hondaa</h3>

          <p class="service-text">
            Experience exceptional Honda customer service in Siliguri at Kaysons Honda. Complete
            care, genuine parts, and support you can always count on.
          </p>

          <!-- Features -->
          <div class="row mt-4">
            <!-- Feature 1 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Service Type.svg"
                  class="feature-icon"
                  alt="Service Type"
                />

                <div>
                  <h6>Service Type</h6>
                  <p>Periodic Maintenance</p>
                </div>
              </div>
            </div>

            <!-- Feature 2 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/After Sales Support.svg"
                  class="feature-icon"
                  alt="After Sales Support"
                />
                  <div>
                  <h6>AFTER SALES SUPPORT</h6>
                  <p>Complete Assistance</p>
                </div>

              </div>
            </div>

            <!-- Feature 3 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Category.svg"
                  class="feature-icon"
                  alt="Category"
                />
                 <div>
                  <h6>CATEGORY</h6>
                  <p>Honda Two-Wheelers</p>
                </div>
              </div>
            </div>

            <!-- Feature 4 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Technicians.svg"
                  class="feature-icon"
                  alt="Technicians"
                />
                <div>
                  <h6>TECHNICIANS</h6>
                  <p>Certified Experts</p>
                </div>

              </div>
            </div>

            <!-- Feature 5 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Spare Parts.svg"
                  class="feature-icon"
                  alt="Spare Parts"
                />
                <div>
                  <h6>SPARE PARTS</h6>
                  <p>Genuine Honda Parts</p>
                </div>
              </div>
            </div>

            <!-- Feature 6 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Service Quality.svg"
                  class="feature-icon"
                  alt="Service Quality"
                />

                <div>
                  <h6>SERVICE QUALITY</h6>
                  <p>Trusted Honda Standards</p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn service-btn px-4 py-2">Know More</button>
        </div>
        <div class="col-lg-6">
          <div class="slider-box position-relative">
            <!-- Swiper -->
            <swiper-container
              #swiperRef
              class="mySwiper"
              slides-per-view="1"
              speed="800"
              loop="true"
              pagination="false"
              navigation="false"
              init="false"
            >
              <swiper-slide *ngFor="let img of images; let i = index">
                <img [src]="img" class="slider-img img-fluid" alt="" />
              </swiper-slide>
            </swiper-container>

            <!-- Bottom Controls -->
            <div class="custom-pagination d-flex justify-content-center align-items-center mt-3">
              <!-- Left Arrow -->
              <button class="arrow-btn me-3" (click)="prevSlide()">&#10094;</button>

              <!-- Current / Total -->
              <span class="current-slide">
                {{ activeIndex + 1 }}
              </span>

              <span class="mx-1">/</span>

              <span class="total-slide">
                {{ images.length }}
              </span>

              <!-- Right Arrow -->
              <button class="arrow-btn ms-3" (click)="nextSlide()">&#10095;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <section class="testimonial-section">
    <div class="container">
      <!-- TITLE -->

      <div class="text-center">
        <h3 class="main-title">WHY PEOPLE ARE TALKING ABOUT US</h3>
      </div>

      <!-- SWIPER -->
      <swiper-container
        class="testimonialSwiper"
        slides-per-view="3"
        space-between="30"
        loop="true"
        speed="1000"
        pagination="true"
        autoplay='{
    "delay": 2500,
    "disableOnInteraction": false
  }'
        breakpoints='{
    "0": {
      "slidesPerView": 1
    },
    "768": {
      "slidesPerView": 2
    },
    "1200": {
      "slidesPerView": 3
    }
  }'
      >
        <swiper-slide *ngFor="let item of testimonials">
          <div class="testimonial-card">
            <div class="stars">★★★★★</div>

            <div class="quote-icon">❞</div>

            <h3 class="card-title">
              {{ item.title }}
            </h3>

            <p class="card-desc">
              {{ item.desc }}
            </p>

            <div class="user-box">
              <div class="user-circle">AM</div>

              <div>
                <h4 class="user-name">
                  {{ item.name }}
                </h4>

                <p class="bike-name">
                  {{ item.bike }}
                </p>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>
</div>
