<div class="home-page">
  <swiper-container
    slides-per-view="1"
    loop="true"
    speed="1200"
    autoplay-delay="3500"
    autoplay-disable-on-interaction="false"
    navigation="true"
    pagination="false"
    effect="fade"
    class="swiper-s"
  >
    <!-- Slide 1 -->
    <swiper-slide>
      <div class="slide-content">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="/assets/images/services/banner-mobile-1.webp"
          />
          <img
            src="/assets/images/services/home-page-1.webp"
            class="slider-img"
            alt="Honda Bikes"
          />
        </picture>

        <div class="caption">
          <h1>
            Explore the Latest Honda Bikes and Ride Home Happy Every Model. Every Budget. Right
            Here.
          </h1>

          <div class="slider-buttons">
            <a (click)="scrollToVehicles()" class="btn-learn">Learn More</a>
          </div>
        </div>
      </div>
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <div class="slide-content">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="/assets/images/services/banner-mobile-2.webp"
          />
          <img
            src="/assets/images/services/home-page-2.webp"
            class="slider-img"
            alt="Honda Scooters"
          />
        </picture>

        <div class="caption">
          <h1>
            Honda Scooters for Every Road and Every Rider Explore.<br />
            Book. Ride Today.
          </h1>

          <div class="slider-buttons">
            <a (click)="scrollToVehicles()" class="btn-learn">Learn More</a>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <section class="about-section">
    <div class="container">
      <div class="row align-items-center gy-5">
        <!-- Left Images -->
        <div class="col-lg-4">
          <div class="left-image">
            <img
              src="assets/images/mmnww.jpg"
              alt="Honda Scooter"
              loading="lazy"
              class="main-img"
            />
          </div>
        </div>

        <!-- Right Content -->
        <div class="col-lg-8">
          <div class="about-content">
            <span class="sub-title"> Your Trusted Honda Two Wheeler Dealer Since Day One </span>

            <h2>Serving Customers With Pride Always</h2>

            <p class="about-text">
              Welcome to Kaysons Honda — Siliguri's trusted destination for everything Honda. As one
              of the best Honda showrooms in Siliguri, we bring you the complete range of Honda’s
              latest bikes and scooters under one roof. Whether you're looking for a Honda bike
              showroom or a Honda scooter showroom in Siliguri, Kaysons Honda delivers an experience
              built on trust, transparency, and genuine passion for riding. From Honda bike exchange
              offers to dedicated Honda service centers in Siliguri, we're committed to being with
              you at every stage of your journey — from the first test ride to lifelong Honda
              customer service in Siliguri.
            </p>

            <!-- Features -->

            <div class="row feature-row">
              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Trusted Legacy.svg" alt="" />
                  </div>

                  <div>
                    <h4>Trusted Legacy</h4>

                    <p>Built on decades of trust, reliability, and automotive excellence.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Strong Business Network.svg" alt="" />
                  </div>

                  <div>
                    <h4>Leading Automobile Brands</h4>

                    <p>
                      Authorized dealer representing India's most loved two-wheeler brand today.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Leading Automobile Brands.svg" alt="" />
                  </div>

                  <div>
                    <h4>Strong Business Network</h4>

                    <p>A powerful network of showrooms, service centers, and partners.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="feature-box">
                  <div class="icon">
                    <img src="/assets/images/home-icons/Future-Focused Growth.svg" alt="" />
                  </div>

                  <div>
                    <h4>Future-Focused Growth</h4>

                    <p>
                      Driving tomorrow's mobility with innovation, sustainability, and bold vision.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bottom Images -->

            <div class="bottom-images">
              <img src="assets/images/Untitled-1 copy.jpg" loading="lazy" alt="Honda Bikes" />

              <img
                src="	assets/images/Design_555_555-Wide-Petrol-Tank-style-home.jpg"
                alt="Honda Tank"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="counter-section">
    <div class="overlay"></div>

    <div class="container">
      <div class="row justify-content-center g-4">
        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ formatK(happyCustomers) }}</h2>

            <p>Happy Customers</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ yearsTrust }}+</h2>

            <p>Years of Trust</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ hondaVehicles }}+</h2>

            <p>Honda Vehicles</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ expertStaff }}+</h2>

            <p>Expert Staff</p>
          </div>
        </div>

        <!-- Counter -->
        <div class="col-lg-2 col-md-4 col-6">
          <div class="counter-box">
            <h2>{{ commitment }}%</h2>

            <p>Customer Commitment</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- vehicle-tabs.component.html -->

  <!-- vehicle-section.component.html -->

  <section class="vehicle-section" id="vehicle-section">
    <div class="container">
      <!-- Heading -->
      <h2 class="title">Browse Our Honda Two-Wheeler Range</h2>

      <!-- Tabs -->
      <div class="button-vehicle">
        <button
          class="tab-btn"
          [class.active]="activeTab === 'motorcycle'"
          (click)="setTab('motorcycle')"
        >
          Motorcycle
        </button>

        <button
          class="tab-btn"
          [class.active]="activeTab === 'scooter'"
          (click)="setTab('scooter')"
        >
          Scooter
        </button>
      </div>
      <div class="tabs">
        <p>
          Explore the complete range of Honda bikes and scooters at Kaysons Honda, Siliguri. From
          daily commuters to premium models, find the perfect Honda two-wheeler built for every road
          and every rider.
        </p>
      </div>

      <!-- ======================================
         MOTORCYCLE SECTION
    ======================================= -->

      <div *ngIf="activeTab === 'motorcycle'" class="card-container">
        <!-- Card 1 -->
        <a routerLink="/nx-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>NX200</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹1,58,591*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Honda NX200.png"
                loading="lazy"
                alt=" NX200"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Motorcycle</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 5.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

                <div>
                  <h6>Engine Type</h6>
                  <p>184.4cc, Single-Cylinder, Air-Cooled</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

                <div>
                  <h6>Max Power</h6>
                  <p>16.99 PS @ 8500 rpm</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

                <div>
                  <h6>Kerb Weight</h6>
                  <p>148 KG</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

                <div>
                  <h6>Fuel Tank</h6>
                  <p>12L</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- Card 2 -->
        <a routerLink="/hornet-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>Hornet 2.0</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹1,47,847*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Honda Hornet 2.0.png"
                loading="lazy"
                alt="Honda Hornet 2.0"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Motorcycle</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 5.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

                <div>
                  <h6>Engine Type</h6>
                  <p>184.4cc, Single-Cylinder, Air-Cooled</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

                <div>
                  <h6>Max Power</h6>
                  <p>17.03 PS @ 8500 rpm</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

                <div>
                  <h6>Kerb Weight</h6>
                  <p>142 KG</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

                <div>
                  <h6>Fuel Tank</h6>
                  <p>12L</p>
                </div>
              </div>
            </div>
          </div>
        </a>

        <!-- Card 3 -->
        <a routerLink="/shine-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>Shine100</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹65,390*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Honda Shine100.png"
                loading="lazy"
                alt="Honda Shine100"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Motorcycle</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 3.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

                <div>
                  <h6>Engine Type</h6>
                  <p>98.98cc, 4 Stroke, Sl Engine</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

                <div>
                  <h6>Max Engine Output</h6>
                  <p>5.43kW@7500rpm</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

                <div>
                  <h6>Kerb Weight</h6>
                  <p>99 KG</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

                <div>
                  <h6>Fuel Tank</h6>
                  <p>9L</p>
                </div>
              </div>
            </div>
          </div>
        </a>

        <!-- card 4 -->
         <ng-container *ngIf="showAllMotorcycles">
        <a routerLink="/commuter-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>Livo</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹82,094*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Livo.png"
                loading="lazy"
                alt="Honda Livo"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Motorcycle</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 4.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />
                <div>
                  <h6>Engine Type</h6>
                  <p>109.51 cc, Air Cooled, 4 Stroke, SI Engine</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />
                <div>
                  <h6>Max Power</h6>
                  <p>8.79 PS</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />
                <div>
                  <h6>Kerb Weight</h6>
                  <p>112 KG</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />
                <div>
                  <h6>Fuel Tank</h6>
                  <p>9 L</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- 5 card -->
        <a routerLink="/sp-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>SP125</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹96,210*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/SP125.png"
                loading="lazy"
                alt="Honda SP125"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Motorcycle</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 5.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />
                <div>
                  <h6>Engine Type</h6>
                  <p>123.94cc, 4 Stroke, SI Engine</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />
                <div>
                  <h6>Max Power</h6>
                  <p>10.8 PS</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />
                <div>
                  <h6>Kerb Weight</h6>
                  <p>Disc -117 kg, Drum -116 kg</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />
                <div>
                  <h6>Fuel Tank</h6>
                  <p>11 L</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- 6 card -->
         <a routerLink="/unicorn-series" class="bike-card-link">
  <div class="bike-card">
    <div class="card-top">
      <div>
        <h3> Unicorn</h3>
        <span>Powered by Honda</span>
      </div>

      <div class="price">₹1,13,786*</div>
    </div>

    <div class="image-box">
      <img
        src="/assets/images/home-page-product-images/Unicorn.png"
        loading="lazy"
        alt="Honda Unicorn"
      />
    </div>

    <div class="spec-row">
      <div class="spec-box">
        <h5>YEAR</h5>
        <p>2026</p>
      </div>

      <div class="spec-box">
        <h5>TYPE</h5>
        <p>Motorcycle</p>
      </div>

      <div class="spec-box">
        <h5>BATTERY</h5>
        <p>12V, 5.0Ah</p>
      </div>
    </div>

    <div class="bottom-specs">
      <div class="bottom-item">
        <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />
        <div>
          <h6>Engine Type</h6>
          <p>162.71 cc, 4 Stroke, SI Engine</p>
        </div>
      </div>

      <div class="bottom-item">
        <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />
        <div>
          <h6>Max Power</h6>
          <p>13.18 PS</p>
        </div>
      </div>

      <div class="bottom-item">
        <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />
        <div>
          <h6>Kerb Weight</h6>
          <p>139 KG</p>
        </div>
      </div>

      <div class="bottom-item">
        <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />
        <div>
          <h6>Fuel Tank</h6>
          <p>13 L</p>
        </div>
      </div>
    </div>
  </div>
</a>
</ng-container>
      </div>

      <!-- ======================================
         SCOOTER SECTION
    ======================================= -->

      <div *ngIf="activeTab === 'scooter'" class="card-container">
        <!-- Scooter 1 -->
        <a routerLink="/activa-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>Activa 110</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹88,643*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Honda Activa 110.png"
                loading="lazy"
                alt="Honda Activa 110"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Scooter</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 5.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

                <div>
                  <h6>Engine Type</h6>
                  <p>109.51cc</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

                <div>
                  <h6>Max Power</h6>
                  <p>7.88 PS</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

                <div>
                  <h6>Kerb Weight</h6>
                  <p>Std & Dlx: 106 kg, H-Smart: 105 kg</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

                <div>
                  <h6>Fuel Tank</h6>
                  <p>5.3 L</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- Scooter 2 -->
        <a routerLink="/activa-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>Activa 125</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹93,775*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Honda Activa 125.png"
                loading="lazy"
                alt="Honda Activa 125"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Scooter</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 5.0 Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

                <div>
                  <h6>Engine Type</h6>
                  <p>123.92cc</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

                <div>
                  <h6>Max Power</h6>
                  <p>8.3 PS</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

                <div>
                  <h6>Kerb Weight</h6>
                  <p>Dlx: 107 kg, H-Smart: 106 kg</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

                <div>
                  <h6>Fuel Tank</h6>
                  <p>5.3 L</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <!-- Scooter 3 -->
        <a routerLink="/dio-series" class="bike-card-link">
          <div class="bike-card">
            <div class="card-top">
              <div>
                <h3>Dio 110</h3>
                <span>Powered by Honda</span>
              </div>

              <div class="price">₹86,576*</div>
            </div>

            <div class="image-box">
              <img
                src="/assets/images/home-page-product-images/Honda Dio 110.png"
                loading="lazy"
                alt="Honda Dio 110"
              />
            </div>

            <div class="spec-row">
              <div class="spec-box">
                <h5>YEAR</h5>
                <p>2026</p>
              </div>

              <div class="spec-box">
                <h5>TYPE</h5>
                <p>Scooter</p>
              </div>

              <div class="spec-box">
                <h5>BATTERY</h5>
                <p>12V, 5.0Ah</p>
              </div>
            </div>

            <div class="bottom-specs">
              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE TYPE.svg" alt="" />

                <div>
                  <h6>Engine Type</h6>
                  <p>109.51cc</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/ENGINE POWER.svg" alt="" />

                <div>
                  <h6>Max Power</h6>
                  <p>7.95 PS</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/DISPLACEMENT.svg" alt="" />

                <div>
                  <h6>Kerb Weight</h6>
                  <p>Std. Dlx: 106kg</p>
                </div>
              </div>

              <div class="bottom-item">
                <img src="/assets/images/home-icons/FUEL SYSTEM.svg" alt="" />

                <div>
                  <h6>Fuel Tank</h6>
                  <p>5.3 L</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Button -->
    <div class="view-btn">
  <!-- Motorcycle -->
  <button
    *ngIf="activeTab === 'motorcycle' && !showAllMotorcycles"
    class="btn btn-motor"
    (click)="viewMoreMotorcycles()"
  >
    View  All Models
  </button>

  <!-- Scooter -->
  <a
    *ngIf="activeTab === 'scooter'"
    routerLink="/activa-series"
  >
    View All Models
  </a>
</div>
    </div>
  </section>

  <!-- test-drive-booking.component.html -->

  <div class="test-drive-section">
    <div class="overlay"></div>

    <div class="container">
      <div class="booking-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="bookingForm">
          <div class="row">
            <!-- Full Name -->
            <div class="col-md-6 mb-3">
              <label>Full Name</label>

              <input
                type="text"
                class="form-control"
                name="fullName"
                formControlName="fullName"
                placeholder="Your name"
                required
              />
              <small
                class="text-danger float-start"
                *ngIf="bookingForm.get('fullName')?.invalid && bookingForm.get('fullName')?.touched"
              >
                Full Name is required
              </small>
            </div>

            <!-- Phone -->
            <div class="col-md-6 mb-3">
              <label>Phone Number</label>

              <input
                type="text"
                class="form-control"
                name="phone"
                formControlName="phone"
                placeholder="Mobile number"
                required
              />
              <small
                class="text-danger float-start"
                *ngIf="bookingForm.get('phone')?.invalid && bookingForm.get('phone')?.touched"
              >
                Phone Number is required
              </small>
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label>Email Adress </label>

            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              placeholder="Email"
              required
            />
            <small
              class="text-danger float-start"
              *ngIf="bookingForm.get('email')?.invalid && bookingForm.get('email')?.touched"
            >
              Valid Email is required
            </small>
          </div>

          <!-- Select Model -->
          <div class="mb-3">
            <label>Select Model</label>

            <select class="form-select" name="model" formControlName="model" required>
              <option *ngFor="let bike of bikeModels" [value]="bike">
                {{ bike }}
              </option>
            </select>
            <small
              class="text-danger float-start"
              *ngIf="bookingForm.get('model')?.invalid && bookingForm.get('model')?.touched"
            >
              Please select a model
            </small>
          </div>

          <!-- Additional Note -->
          <div class="mb-4">
            <label>Additional Note</label>

            <textarea
              rows="4"
              class="form-control"
              name="note"
              formControlName="note"
              placeholder="Any questions or special requests....."
            ></textarea>
          </div>

          <!-- Button -->
          <button
            type="submit"
            class="btn booking-btn w-100 d-flex justify-content-center align-items-center"
            [disabled]="bookingForm.invalid || isLoading"
          >
            @if (isLoading) {
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true">
              </span>
            } @else {
              <i class="fa-solid fa-motorcycle me-2"></i>
            }

            Confirm Test Drive Booking
          </button>
          <p *ngIf="successMessage" class="text-success mt-2">
            {{ successMessage }}
          </p>
        </form>
      </div>
    </div>
  </div>

  <!--  -->

  <div class="service-section container-fluid py-5">
    <div class="container">
      <!-- Heading -->
      <div class="text-center mb-5">
        <h5 class="fw-bold">Genuine Honda After Sales Support</h5>

        <h3 class="main-title">Because Your Honda Deserves the Best</h3>

        <p class="top-desc mx-auto">
          At Kaysons Honda, one of the most trusted Honda service centers in Siliguri, we keep your
          two wheeler performing at its absolute best. Genuine parts, trained technicians, and
          dedicated after sales support, because your Honda deserves nothing less.
        </p>
      </div>

      <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h2 class="section-title">Hond Service Support</h2>

          <h3 class="sub-title">Complete Care For Your Hondaa</h3>

          <p class="service-text">
            Experience exceptional Honda customer service in Siliguri at Kaysons Honda. Complete
            care, genuine parts, and support you can always count on.
          </p>

          <!-- Features -->
          <div class="row mt-4">
            <!-- Feature 1 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Service Type.svg"
                  class="feature-icon"
                  alt="Service Type"
                />

                <div>
                  <h6>Service Type</h6>
                  <p>Periodic Maintenance</p>
                </div>
              </div>
            </div>

            <!-- Feature 2 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/After Sales Support.svg"
                  class="feature-icon"
                  alt="After Sales Support"
                />
                <div>
                  <h6>After Sales Support</h6>
                  <p>Complete Assistance</p>
                </div>
              </div>
            </div>

            <!-- Feature 3 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Category.svg"
                  class="feature-icon"
                  alt="Category"
                />
                <div>
                  <h6>Category</h6>
                  <p>Honda Two-Wheelers</p>
                </div>
              </div>
            </div>

            <!-- Feature 4 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Technicians.svg"
                  class="feature-icon"
                  alt="Technicians"
                />
                <div>
                  <h6>Technicians</h6>
                  <p>Certified Experts</p>
                </div>
              </div>
            </div>

            <!-- Feature 5 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Spare Parts.svg"
                  class="feature-icon"
                  alt="Spare Parts"
                />
                <div>
                  <h6>Spare Parts</h6>
                  <p>Genuine Honda Parts</p>
                </div>
              </div>
            </div>

            <!-- Feature 6 -->
            <div class="col-6 mb-4">
              <div class="feature-box">
                <img
                  src="/assets/images/home-icons/Service Quality.svg"
                  class="feature-icon"
                  alt="Service Quality"
                />

                <div>
                  <h6>Service Quality</h6>
                  <p>Trusted Honda Standards</p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn service-btn px-4 py-2">Know More</button>
        </div>
        <div class="col-lg-6">
          <div class="slider-box position-relative">
            <!-- Swiper -->
            <swiper-container
              #swiperRef
              class="mySwiper"
              slides-per-view="1"
              speed="800"
              loop="true"
              pagination="false"
              navigation="false"
              init="false"
            >
              <swiper-slide *ngFor="let img of images; let i = index">
                <img [src]="img" class="slider-img img-fluid" alt="" />
              </swiper-slide>
            </swiper-container>

            <!-- Bottom Controls -->
            <div class="custom-pagination d-flex justify-content-center align-items-center mt-3">
              <!-- Left Arrow -->
              <button class="arrow-btn me-3" (click)="prevSlide()">&#10094;</button>

              <!-- Current / Total -->
              <span class="current-slide">
                {{ activeIndex + 1 }}
              </span>

              <span class="mx-1">/</span>

              <span class="total-slide">
                {{ images.length }}
              </span>

              <!-- Right Arrow -->
              <button class="arrow-btn ms-3" (click)="nextSlide()">&#10095;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <section class="testimonial-section">
    <div class="container">
      <!-- TITLE -->

      <div class="text-center">
        <h3 class="main-title">Why People Are Talking About Us</h3>
      </div>

      <!-- SWIPER -->
      <swiper-container
        class="testimonialSwiper"
        slides-per-view="3"
        space-between="30"
        loop="true"
        speed="1000"
        pagination="true"
        autoplay='{
    "delay": 2500,
    "disableOnInteraction": false
  }'
        breakpoints='{
    "0": {
      "slidesPerView": 1
    },
    "768": {
      "slidesPerView": 2
    },
    "1200": {
      "slidesPerView": 3
    }
  }'
      >
        <swiper-slide *ngFor="let item of testimonials">
          <div class="testimonial-card">
            <div class="stars">★★★★★</div>

            <div class="quote-icon">❞</div>

            <!-- <h3 class="card-title">
              {{ item.title }}
            </h3> -->

            <p class="card-desc">
              {{ item.desc }}
            </p>

            <div class="user-box">
              <div class="user-circle">AM</div>

              <div>
                <h4 class="user-name">
                  {{ item.name }}
                </h4>

                <!-- <p class="bike-name">
                  {{ item.bike }}
                </p> -->
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>
</div>
